<section class="about-section sm:px-10 px-5 md:py-20 py-10" id="about">
    <div class="content">
        <h1 class="md:text-6xl text-4xl text-center w-full font-bold tdark md:mb-10 mb-5">About <span
                class="tprimary">Me</span>
        </h1>
        <p style="line-height: 250%;" class="sm:text-base text-sm tdark">
            I specialize in responsive, mobile-friendly websites, creating custom designs as well as modifying existing
            designs, and structures, and writing custom code needed to achieve my client's goals. I also have extensive
            experience integrating the redux shopping cart system for e-commerce websites, as well as working with the
            REST API. <br><br>

            Over the past 3+ years, I have developed a wide range of websites using HTML5/CSS3, REACT, MySQL, and
            Javascript, including sites for startup companies, small businesses, and individuals. I enjoy developing,
            coding and maintaining clean, professional, easy-to-navigate websites. <br><br>

            I can help you or your business create a website from design concept to a completed, polished and
            professional site. I can also help maintain and update existing websites.
        </p>
    </div>
</section>