<section class="about-section sm:px-10 px-5 md:py-20 py-10" id="about">
    <div class="content">
        <h1 class="md:text-6xl text-4xl text-center w-full font-bold tdark md:mb-10 mb-5">About <span
                class="tprimary">Me</span>
        </h1>
        <p style="line-height: 250%;" class="sm:text-base text-sm tdark">Lorem, ipsum dolor sit amet consectetur
            adipisicing
            elit. Exercitationem at
            nobis vero recusandae
            voluptatibus sint aliquam officia! Ad veritatis distinctio delectus voluptates laboriosam, vitae laborum
            expedita voluptas sit libero dolore? <br> <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, esse! Exercitationem dolorum explicabo
            animi maiores eaque esse autem obcaecati, fuga debitis enim nisi minima fugiat eligendi, atque numquam
            nemo delectus cumque qui at similique eos reprehenderit accusamus. Vero possimus enim amet repellendus
            laborum, eveniet quibusdam corporis deserunt provident dignissimos id. <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nisi ratione iure, accusantium laboriosam
            nesciunt maxime id doloribus libero sunt deserunt fugit ipsam voluptatem nemo quod recusandae! Quod
            repudiandae itaque voluptatum labore, harum vero similique minima rem, animi dolorem reiciendis facilis
            fugit veniam repellat enim alias quos eos dolores fuga ad molestias pariatur voluptas, laborum fugiat.
            Fuga, ea praesentium. Assumenda.
        </p>
    </div>
</section>