<section class="contact  flex items-center md:py-20 py-10 md:px-10 px-5" id="contact">
    <div class="md:flex justify-between w-full h-full">
        <div class="left tdark">
            <h1 class="md:text-5xl text-3xl font-bold mb-5">Let's make something <span class="tprimary">amazing</span>
                together.
            </h1>
            <p>connect with me to work something amazing together.</p>
            <div class="social-links my-10">
                <h1 class="text-3xl font-semibold uppercase">My social links</h1>
                <ul class="icons flex items-center text-5xl mt-5">
                    <li class="mr-3 icon"><a href="https://github.com/aweshchoudhary/" target="_blank"><span
                                class="iconify" data-icon="akar-icons:github-fill"></span></a>
                    </li>
                    <li class="mr-3 icon"><a href="https://dribbble.com/aweshchoudhary" target="_blank"><span
                                class="iconify" data-icon="icon-park-outline:dribble"></span></a>
                    </li>
                    <li class="mr-3 icon"><a href="https://www.linkedin.com/in/awesh-choudhary-7b15851b4/"
                            target="_blank"><span class="iconify"
                                data-icon="entypo-social:linkedin-with-circle"></span></a>
                    </li>
                    <li class="mr-3 icon"><a href="https://in.pinterest.com/aweshchoudhary7/" target="_blank"><span
                                class="iconify" data-icon="akar-icons:pinterest-fill"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right tdark">
            <h1 class="text-3xl font-semibold uppercase mb-5">information</h1>
            <p class="my-3">09015077510 / 06230181426</p>
            <p class="my-3">aweshchoudhary7@gmail.com</p>
            <p class="my-3">business.aweshchoudhary@gmail.com</p>
            <p class="my-3">Mumbai, Maharashtra, India - 400043</p>
        </div>
    </div>
</section>