<section class="gallery md:py-20 py-10 md:px-10 px-5" id="gallery">
    <div class="header md:flex justify-between items-center">
        <div class="left">
            <h1 class="md:text-5xl text-4xl uppercase font-bold flex items-center tdark mb-3"><span class="iconify mr-3"
                    data-icon="icon-park-outline:dribble"></span>dribble gallery</h1>
            <p class="tdark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione beatae in vero dolorum
                dolorem
            </p>
        </div>
        <div class="right">
            <a href="#"
                class="btn2 px-12 block md:py-5 py-4 text-base primary w-fit tlight uppercase font-semibold mt-5 rounded-lg">dribble
                profile</a>
        </div>
    </div>
    <div class="cards mt-10 flex flex-wrap justify-center">
        <% for(let i=0; i<6; i++){ %>
            <div class="md:h-[350px] sm:h-[250px] h-[150px] md:w-1/3 w-1/2 flex items-center justify-center">
                <div class="card rounded-lg bprimary h-[95%] w-[95%]">

                </div>
            </div>
            <% } %>
    </div>
</section>