<section class="testimonial-section bprimary md:py-20 py-10 md:px-10 px-5" id="testimonials">
    <div class="content mb-10">
        <h1 class="sm:text-5xl text-4xl w-full text-center font-bold uppercase tlight">what people talk about us</h1>
    </div>
    <div class="cards tdark flex overflow-x-auto py-10">
        <% for(let i=0; i<5; i++){ %>
            <div class="card bld md:p-10 p-5 shrink-0 text-center h-auto mr-5 rounded-xl md:w-1/3 w-4/5">
                <div class="para text-sm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium libero quaerat, qui temporibus
                    mollitia quis asperiores
                </div>
                <div class="name border-t mt-5 pt-5 md:text-xl text-md font-bold">
                    name here
                </div>
            </div>
            <% } %>
    </div>
</section>