<section class="what-can-i-do-section flex md:flex-row flex-col-reverse md:py-20 py-10 md:px-10 px-5">
    <div class="left md:w-[40%] w-full">
        <div class="cards">
            <div class="card flex border items-center p-5 mb-5" style="height: calc(100%/3);">
                <div class="icon h-full p-5 primary w-fit mr-5 tlight text-4xl"><span class="iconify"
                        data-icon="bx:code-block"></span></div>
                <div class="name md:text-xl text-md font-semibold tdark uppercase">
                    frontend web developement
                </div>
            </div>
            <div class="card flex border items-center p-5 mb-5" style="height: calc(100%/3);">
                <div class="icon h-full py-5 px-7 primary w-fit mr-5 tlight text-4xl"><span class="iconify"
                        data-icon="file-icons:figma"></span></div>
                <div class="name md:text-xl text-md font-semibold tdark uppercase">
                    Figma designs
                </div>
            </div>
            <div class="card flex border items-center p-5 mb-5" style="height: calc(100%/3);">
                <div class="icon h-full p-5 primary w-fit mr-5 tlight text-4xl"><span class="iconify"
                        data-icon="dashicons:admin-page"></span></div>
                <div class="name md:text-xl text-md font-semibold tdark uppercase">
                    Web developement
                </div>
            </div>
        </div>
    </div>
    <div class="rigth md:w-[60%] w-full md:pl-10 md:pb-0 pb-10">
        <div class="content tdark">
            <h1 class="heading md:text-5xl text-4xl font-bold capitalize mb-5">
                What do i help?
            </h1>
            <p style="line-height: 250% ;" class="sm:text-base text-sm">
                I will help you with finging a solution and solve your problems. We use Html, CSS, Javascript and
                Frameworks like ReactJS, TailwindCSS, Bootstrap, Sass, etc to create your web projects.
                <br><br>
                We will deliver you satisfying work with after-sale services. All projects are high resolution files,
                frontend with mobile-friendly and fully responsive web pages.
            </p>
            <a href="#"
                class="btn2 block sm:px-12 px-10 md:py-5 py-4 text-base primary w-fit tlight mt-5 rounded-lg">Contact
                Me</a>
        </div>
    </div>
</section>